@import "../../global.scss";

.topbar {
    width: 100%;
    height: 66px;
    background-color: $themeColor;
    color: $mainColor;
    position: fixed;
    top:0;
    z-index: 3;
    transition: all 1s ease;
    filter: drop-shadow(5px 5px 8px #4596ec8a);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;

        .left{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @include mobile{
                    flex: 1;
                }
        }

        .center{
                display: flex;
                align-items: center;
                justify-content: center;

            .logo{
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;

                @include mobile{
                    flex: 1;
                    font-size: 1.5em;
                }
            }

        }

        .right{
                display: flex;
                justify-content: flex-end;

                @include mobile{
                    flex: 1;
                }
            .hamburger {

                    width: 32px;
                    height: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    cursor: pointer;

                span{
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }

    }

    &.active{
        background-color: $mainColor;
        color: white;
        filter: drop-shadow(1px 1px 5px #ffffff00);

        .hamburger{
            span{
                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child{
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

a{
    color: lightskyblue;
}