@import "../../global.scss";

.contact {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;

.contact-page{
    display: flex;
    position: relative;
    flex:12;

    @include mobile{
        flex-direction: column;
    }

    .left{
        z-index: 2;
        flex: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile{
            flex: 0.7;
            text-align: center;
        }

        form{
            background-image: $backgroundImage;
            width: 55%;
            height: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 10px;
            opacity: 0.85;
            padding: 20px 15px 20px 15px;
            border: 1px rgba(0, 0, 0, 0.3) solid;

            @include mobile{
                position: absolute;
                top: 8%;
                width: 70%;
                height: 70%;
                padding: 10px 15px;
                box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.56);
            }

            &:hover{
                box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.56);
            }

            input{
                padding: 2px 10px;
                width: 80%;
                height: 30px;
                font-size: 14px;
                border-radius: 10px;
                border: 0px;
                box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.56);
                background-color: rgb(255, 255, 255);

            }
            textarea{
                padding: 5px 10px;
                width: 80%;
                height: 52%;
                font-size: 14px;
                border-radius: 10px;
                border: 0px;
                resize: none;
                background-color: rgb(255, 255, 255);
                box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.56);
                
                @include mobile{
                    height: 52%;
                }
            }
            button{
                width: 150px;
                height: 30px;
                color: whitesmoke;
                background-color: $buttonColor;
                border: none;
                border-radius: 10px;
                font-weight: 600;
                cursor: pointer;
                box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.56);

                &:hover{
                    color: black;
                    background-color: $buttonHover;
                    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.56);
                }
            }
            .result-msg{
                color: green;
                font-size: 0.8em;
                font-weight: 600;
            }
        }
    }

    .right{
        z-index: 1;
        flex: 3;
        overflow: hidden;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        @include mobile{
            flex: 0.3;
            flex-direction: row;
            justify-content: space-between;
        }

        .right-up{
            display: flex;
            flex-direction: column;
            font-size: 2.4em;
            justify-content: flex-end;
            color: $themeColor;
            opacity: 0.5;
            @include mobile{
                flex:0;
            }
            h3{
                @include mobile{
                    display: none;
                }
            }
       }
       .contact-img{
           flex: 0.6;
           overflow: hidden;
           @include mobile{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin-top: 50px;
            }
           img{
               height: 75%;
               @include mobile{
                   height: 90%;
                   width: 90%;
               }
           }
       }
        .right-down{
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-bottom: 10px;
                font-size: 0.8em;
                align-self: flex-end;
                padding-right: 50px;
            }

            .media-icons{
                margin-top: 20px;
                a{
                    margin: 2px 5px 2px 5px;
                    cursor: pointer;
                    color: $background-white;

                    &:hover{
                        color: $background-dark;
                    }
                }

                @include mobile{
                    margin-top: 10px;
                }
            }
        }
    }
    .custom-shape-divider-bottom-1637374055 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 0;

    }
    
    .custom-shape-divider-bottom-1637374055 svg {
        position: relative;
        display: block;
        width: calc(170% + 1.3px);
        height: 200px;
        transform: rotateY(180deg);
        @include mobile{
            height: 100px;
            width: calc(160% + 1.3px);
        }
    }
    
    .custom-shape-divider-bottom-1637374055 .shape-fill {
        fill: $themeColor;
        
    }

}
 .footer{
     align-items: center;
     display: flex;
     background-color: #101010;
     flex:1;
     text-align: center;
     justify-content: center; 
   
     p{
         padding: 12px 0 12px 0;
         font-weight: bold;
         font-size: 0.9em;
         color: $background-white;
         @include mobile{
             font-size: 0.7em;
         }
     }
 }
}