@import '../../global.scss';

.experience{
    background-color: $background-white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}